<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Profil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="profile-container">
        <h2>
            <%= user.firstName %>
                <%= user.lastName %>
        </h2>

        <h3>Liste des emprunts</h3>
        <ul>
            <% if (user.emprunt && user.emprunt.length> 0) { %>
                <% user.emprunt.forEach(function(emprunt) { %>
                    <li>
                        <%= emprunt.name %> - Emprunté le <%= emprunt.debutEmprunt %>
                    </li>
                    <% }); %>
                        <% } else { %>
                            <p>Aucun emprunt en cours.</p>
                            <% } %>
        </ul>

        <div class="actions">
            <% if (user.isAdmin) { %>
                <a href="">Voir les demandes d'emprunts</a>
                <a href="">Voir les retours</a>
                <a href="">Gérer le matériel</a>
                <% } %>
        </div>


        <div class="actions">
            <a href="/materiels/">Demande d'emprunt</a>
            <a href="/users/edit/<%= user.id %>">Modifier le profil</a>
            <a href="/connection/logout">Se déconnecter</a>
        </div>
    </div>
</body>

</html>